.main {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "poppins";
  background-color: #d9d9d9;
  width: 100%;
  height: 1000vh;
}

/* navbars */

.topnav {
  z-index: 1;
  position: fixed;
  gap: 330px;
  background-color: #222222;
  height: 6px;
  width: inherit;
}

.logo img {
  height: 6px;
  width: 6px;
}

.logo {
  display: grid;
  align-items: center;
  justify-content: center;
  position: inherit;
  top: 0;
  left: 0;
  height: 6px;
  width: 6px;
}

.search {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 5px;
}

.search input {
  font-size: 3px;
  width: 50%;
  height: 3px;
  border: 0;
  border-radius: 2px;
  background-color: #d9d9d9;
}

input:focus {
  outline: none;
}

.search input::placeholder {
  font-size: 3px;
  text-align: center;
}

.leftnav {
  z-index: 1;
  position: fixed;
  top: 6px;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  height: 100%;
  width: 7px;
}

.leftnav #nav2 {
  position: inherit;
  left: 0.5px;
  bottom: 2%;
}

#nav1 {
  padding-top: 7px;
}

.nav1 ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav1 .listitems div {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #d9d9d9;
}

.nav1 li {
  display: grid;
  align-items: center;
  justify-content: center;
}

.line div {
  width: 5px;
  height: 0.1px;
  border-radius: 0.5px;
  background-color: #aeaeae;
}

/* main window */

.main1 {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  position: inherit;
  top: 6px;
  left: 6px;
  height: 70px;
  width: 97%;
}

.main1 p {
  position: inherit;
  color: #d9d9d9;
  top: 35px;
  padding-left: 2px;
}

.pgimage {
  position: inherit;
  height: 70px;
  background-color: #222222;
  width: 101.5%;
}

.pgimage img {
  border-top-left-radius: 10px;
  padding-left: 2px;
  height: 70px;
  width: 100%;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

.innermain1 {
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  position: inherit;
  left: 0;
  top: 70px;
  width: calc(100% - 61.5px);
  height: 200px;
}

.innermain1 div {
  background-color: #aeaeae;
  height: auto;
  width: auto;
}

.aboutroom {
  grid-column: 1/51;
  grid-row: 1/21;
}

.aboutroom p {
  margin-left: 2px;
  margin-right: 10px;
  font-size: 5px;
  text-align: justify;
}

.myroom {
  grid-column: 1/26;
  grid-row: 21/51;
}

.plan {
  grid-column: 26/51;
  grid-row: 21/36;
}

.referral {
  grid-column: 26/51;
  grid-row: 36/51;
}

.innermain2 {
  display: flex;
  position: inherit;
  right: -2%;
  top: 70px;
  width: 64.5px;
  height: 200px;
  background-color: #222222;
}
